::-webkit-scrollbar {
  width: 0px;
}

.caixa {
  width: 90%;
  margin: auto;
  border: 1px solid white;
  height: 50vh;
  margin-top: 4vh;
  margin-bottom: 3vh;
  display: flex;
}

.pessoas {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-right: 1px solid lightgray;
}

.divPessoa {
  border-bottom: 1px solid lightgray;
  width: 8vh;
  border-right: 1px solid lightgray;
}

.pessoa {
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  padding: 1vh;
}

.conversa {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.nome {
  flex: 15%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
}

.chat {
  flex: 80%;
}

.botoes {
  height: 5vh;
  width: 5vh;
  cursor: pointer;
}

.botoesGrandes {
  height: 3vh;
  width: 3vh;
  cursor: pointer;
}

#botaoEsquerdo {
  flex: 10%;
}

#botaoDireito {
  flex: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spanNome {
  font-size: 26px;
  margin-left: -1vw;
}

.nomePessoa {
  flex: 80%;
  text-align: center;
}

.enviar {
  border-top: 1px solid lightgrey;
  flex: 15%;
}

.enviar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caixaInput {
  width: 70%;
  display: flex;
}

.caixaInput button {
  flex: 20%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 40px;
  cursor: pointer;
  color: #f2f2f2;
  background-color: #5a5cde;
  font-weight: bold;
  border: none;
}

.caixaInput input {
  flex: 80%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 8px;
  font-size: 16px;
  background-color: #222;
  border: #f2f2f2;
  color: #f2f2f2;
  outline: #f2f2f2;
}

.chat {
  display: flex;
  flex-direction: column;
}

.divmensagemMinha {
  display: flex;
  justify-content: flex-end;
}

.divmensagemDele {
  display: flex;
  justify-content: flex-start;
}

.mensagemMinha {
  background-color: #5a5cde;
  max-width: 70%;
  margin-right: 10px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  border-top-right-radius: 0px;
}

.mensagemDoutro {
  background-color: #8484e8;
  max-width: 70%;
  margin-left: 10px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
}

@media only screen and (max-width: 1000px) {
  .pessoas {
    overflow: none;
  }
}
