.maindiv{
  display: flex;
}

.esquerda{
  border-bottom: 1px solid #5a5cde;
  border-right: 1px solid #5a5cde;
  /*flex: 19%;*/
  padding-top: 5vh;
  flex-grow: 0;
  padding: 20px;;
}

.direita{
    border-bottom: 1px solid #5a5cde;
    border-left: 1px solid #5a5cde;
    flex: 29%;
}

.feed{
    border-bottom: 1px solid #5a5cde;
    flex: 52%;
    overflow: auto;
    flex-grow: 1;
    position: relative;
    height: 100vh;
}

@media only screen and (max-width: 900px) {
    .esquerda{
      padding: 10px;
    }
}  