.divAbs{
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.abs{
    width: 3.5vw;
    min-width: 64px;
    background-color: #5a5cde;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

#msg{
    padding: 12px;
}

#add{
    margin-right: 8px;
}

@media only screen and (max-width: 900px) {
    #msg{
      display: none;
    }
  }