@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

.principalDiv {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  flex: 100%;
  position: relative;
}

.divAbs {
  position: fixed;
  bottom: 3vh;
  right: 3vh;
}

.abs {
  width: 3.5vw;
  min-width: 64px;
  background-color: #5a5cde;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

#msg {
  padding: 12px;
}

.homem {
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  padding: 1vh;
  min-height: 32px;
}

#add {
  margin-right: 8px;
}

.posts{
  height: 92vh;
}

.post {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  margin-bottom: 4vh;
  border-radius: 15px;
}

.parteCima {
  flex: 10%;
  flex-grow: 0;
  display: flex;
  border: 1px solid black;
  padding: 10px;
  padding-right: 2vw;
  padding-left: 20px;
  align-items: center;
  gap: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.tempo {
  font-weight: 600;
  color: gray;
  font-size: 17px;
  flex: 1;
  text-align: right;
}

.parteMeio {
  flex: 75%;
  flex-grow: 1;
  display: flex;
  border-left: 1px solid black;
  flex-direction: row;
}

.ladoEsquerdo {
  flex: 40%;
  padding: 20px;
}

.titulo h3 {
  font-family: "Roboto", sans-serif;
}

.descricao p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

.googleMaps {
  flex: 60%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.parteBaixo {
  flex: 15%;
  flex-grow: 0;
  display: flex;
  border: 1px solid black;
  padding: 8px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  gap: 8px;
  flex-direction: row;
}

.pessoasBaixo {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  flex: 70%;
}

.username {
  flex: 1;
  text-align: left;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.userPic {
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  object-fit: cover; /*preenche o container, mantendo a sua proporção original*/
  cursor: pointer;
}

.imagensPessoas {
  margin-left: 2vh;
  position: relative;
  height: 4vh;
  flex: 1;
  width: 0px;
}

#f1 {
  position: absolute;
  top: -2vh;
}
#f2 {
  position: absolute;
  left: 4vh;
  top: -2vh;
}
#f3 {
  position: absolute;
  left: 8vh;
  top: -2vh;
}
#f4 {
  position: absolute;
  padding: 1.95vh;
  border-radius: 50%;
  background-color: rgb(238, 238, 238);
  text-align: center;
  left: 12vh;
  top: -1vh;
  font-weight: 600;
  font-size: 18px;
}

.maximo {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  flex: 3;
}

.botaoM {
  flex: 30%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.juntar {
  padding: 10px 40px;
  margin-right: 20px;
  background-color: #00bf62;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.createPost {
  position: absolute;
  left: 30%;
  top: 20vh;
  background-color: #fbfcfe;
  padding: 40px 0px;
  border-radius: 15px;
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-top: 60px;
  border: 1px solid darkgray;
}

.createPost > * {
  margin-top: 30px;
}

.tituloDiv {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.descDiv {
  display: flex;
  flex-direction: column;
}

.x-post {
  position: absolute;
  width: 32px;
  cursor: pointer;
  left: 90%;
  top: 0%;
}

.maxPeople {
  display: flex;
  flex-direction: column;
}

.selectDuration {
  display: flex;
  flex-direction: column;
}

.createPost input,
select,
textarea {
  width: 75%;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-left: 12.5%;
}
.createPost label {
  margin-left: 12.5%;
}

.duration option {
  font-size: 20px;
}

.postMeeting {
  padding: 10px 40px;
  background-color: #00bf62;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 60%;
  margin-left: 20%;
}

.more-div{
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
}

.more-img{
  max-width: 32px;
  height: 32px;
  cursor: pointer;
}

.options{
  width: 200px;
  border-radius: 8px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  right: 10px;
  padding: 3px 8px;
  border-bottom-right-radius: 0px;
  background-color: #f2f2f2;
}

.options img{
  width: 32px;
}

.options div{
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.delete, .details{
  border-bottom: 1px solid lightgray;
}

.detalhesMeet{
  position: absolute;
  top: 20%;
  left: 30%;
  width: 35%;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  height: 30vh;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.cimaDetalhes{
  flex: 10%;
  border-bottom: 1px solid lightgray;
  position: relative;
  padding: 20px;
  text-align: center;
}

.cimaDetalhes span{
  font-size: large;
  font-weight: bold;
}

.cimaDetalhes img{
  position: absolute;
  top: 15px;
}

.meioDetalhes{
  flex: 75%;
  display: flex;
  flex-direction: column;
}

.userDetails{
  border-bottom: 1px solid lightgray;
}
.userDetails span{
  margin-left: 10px;
}

.userDetails img{

}

.baixoDetalhes{
  flex: 10%;
}


@media only screen and (max-width: 900px) {
  #msg {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  .googleMaps {
    display: none;
  }
}

.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5D3FD3;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
 }
 
 .three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
 }
 
 .three-body__dot:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
 }
 
 .three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
 }
 
 .three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
 }
 
 .three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
 }
 
 .three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite
     calc(var(--uib-speed) * -0.15) ease-in-out;
 }
 
 .three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
 }
 
 .three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
 }
 
 @keyframes spin78236 {
  0% {
   transform: rotate(0deg);
  }
 
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes wobble1 {
  0%,
   100% {
   transform: translateY(0%) scale(1);
   opacity: 1;
  }
 
  50% {
   transform: translateY(-66%) scale(0.65);
   opacity: 0.8;
  }
 }
 
 @keyframes wobble2 {
  0%,
   100% {
   transform: translateY(0%) scale(1);
   opacity: 1;
  }
 
  50% {
   transform: translateY(66%) scale(0.65);
   opacity: 0.8;
  }
 }
 